/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@include mediaXL {
  html {
    font-size: 10px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    .background {
      // justify-content: flex-start;

      .menu-btn {}





      .menu-nav {
        .menu-nav-list {
          align-items: center;
          flex-wrap: wrap;

          .menu-nav-item {
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            .menu-nav-link {
              width: 100%;
            }
          }
        }
      }
    }
  }

  main {
    .background-2 {
      .background-2-item {
        background-position: 53%;
      }
    }

    .second-page {
      padding: 0 5rem;
      align-items: center;
      justify-content: center;

      .full-description {
        display: flex;

        justify-self: center;
        margin: 0 0;
        grid-gap: 3rem;

        h1 {
          margin: 0 0;
        }
      }
    }





    .site-section.site-section-secondary {
      background: linear-gradient(#efefef 70%, white 100%);

      .site-section-inside {
        .testimonial-box {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem;

          margin: 3rem 0;
          padding: 0 0;

          .testimonial-content {
            grid-column: 2;
            grid-row: 1;
            font-size: 1.8rem;
            margin: 0 0;
          }

          .testimonial-author {
            margin: 0 0;
          }
        }
      }
    }
  }



  #footer {
    display: none;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@include mediaL {
  html {
    font-size: 9.5px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    .background {
      // justify-content: flex-start;

      .menu-btn {}

      .navbarr {
        flex-direction: column;
        padding: 0 0;

        .logo {
          display: inline-flex;
          width: 100%;
          align-items: center;
          justify-self: center;

          &::after {
            font-size: 1.8rem;
          }
        }

        .sm-list1 {
          a {
            font-size: 3.5rem;
          }
        }

        .telephone1 {
          flex-basis: 10rem;

          a {
            font-size: 3rem;
          }
        }
      }

      .first-page {
        margin-left: 0;
        width: 100%;
        align-items: flex-start;

        .doctor-name {
          margin-top: 5rem;
        }

        h1 {
          margin-left: 5rem;
          justify-self: flex-start;
          font-size: 3rem;
        }

        p {
          font-size: 2rem;
          margin-left: 5rem;
        }

        .btn-maa {
          // height: 7.5%;
          margin-left: 5rem;
          padding: 1rem 1rem;

          a {
            display: inline-block;
            text-align: center;
          }
        }
      }

      .menu-nav {
        .menu-nav-list {
          align-items: center;
          flex-wrap: wrap;

          .menu-nav-item {
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            .menu-nav-link {
              width: 100%;
            }
          }
        }
      }
    }
  }

  main {
    .background-2 {
      .background-2-item {
        background-position: 53%;
      }
    }

    .second-page {
      padding: 0 5rem;
      align-items: center;
      justify-content: center;

      .full-description {
        display: flex;

        justify-self: center;
        margin: 0 0;
        grid-gap: 3rem;

        h1 {
          margin: 0 0;
        }
      }
    }

    .appointment-page {
      .jumbotron-services {
        display: grid;
        margin: 0 0;
        margin-top: 3rem;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5rem;

        h1 {
          margin: 0 0;
          justify-items: center;
          justify-self: center;
          padding: 0 0;
        }

        p {
          margin: 0 0rem;
          font-size: 1.75rem;
          // width: 50%;
        }
      }

      .appointment-form {
        background: linear-gradient(#191a4e 10%, #fff 100%);
        justify-content: center;
        width: 100%;
        margin: 0 0rem;
        flex-direction: column;

        .appointment-info {
          align-self: center;
          padding: 0;
          text-align: center;
          margin: 0;
          margin-top: 3rem;
        }

        .telephone {
          font-size: 1.9rem;
        }

        #form {
          width: 80%;
          // flex-grow: 2;
          margin: 0 0;
          padding: 0 0;
          flex-wrap: wrap;
          align-self: center;

          ::placeholder {
            font-size: 1.9rem;
          }

          .form-control {
            font-size: 1.9rem;
            font-family: "Exo 2", sans-serif;
          }

          select {
            font-family: "Exo 2", sans-serif;
            font-size: 1.9rem;
            letter-spacing: 0.05rem;
            font-weight: 200;
          }

          button {
            margin: 0 0;
          }
        }
      }
    }

    .location-page {
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 30rem;

      h1 {
        align-self: center;
        justify-self: center;
      }

      .location-description {
        justify-self: center;
        display: flex;
        flex-direction: column;

        img {
          align-self: center;
        }

        .contacts {
          text-align: center;
          justify-self: center;
          font-size: 1.8rem;

          .fa-map-marker-alt {
            justify-content: center;
          }

          h2 {
            font-size: 4.5rem;
          }
        }
      }

      .map {
        display: none;
      }
    }

    .site-section.site-section-secondary {
      background: linear-gradient(#efefef 70%, white 100%);

      .site-section-inside {
        .testimonial-box {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem;

          margin: 3rem 0;
          padding: 0 0;

          .testimonial-content {
            grid-column: 2;
            grid-row: 1;
            font-size: 1.8rem;
            margin: 0 0;
          }

          .testimonial-author {
            margin: 0 0;
          }
        }
      }
    }
  }



  #footer {
    display: none;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@include mediaM {
  html {
    font-size: 8.5px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    .background {
      // justify-content: flex-start;

      .menu-btn {}

      .navbarr {
        flex-direction: column;
        padding: 0 0;

        .logo {
          display: inline-flex;
          width: 100%;
          align-items: center;
          justify-self: center;

          &::after {
            font-size: 1.8rem;
          }
        }

        .sm-list1 {
          a {
            font-size: 3.5rem;
          }
        }

        .telephone1 {
          flex-basis: 10rem;

          a {
            font-size: 3rem;
          }
        }
      }

      .first-page {
        margin-left: 0;
        width: 100%;
        align-items: flex-start;

        .doctor-name {
          margin-top: 5rem;
        }

        h1 {
          margin-left: 5rem;
          justify-self: flex-start;
          font-size: 3rem;
        }

        p {
          font-size: 2rem;
          margin-left: 5rem;
        }

        .btn-maa {
          // height: 7.5%;
          margin-left: 5rem;
          padding: 1rem 1rem;

          a {
            display: inline-block;
            text-align: center;
          }
        }
      }

      .menu-nav {
        .menu-nav-list {
          align-items: center;
          flex-wrap: wrap;

          .menu-nav-item {
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            .menu-nav-link {
              width: 100%;
            }
          }
        }
      }
    }
  }

  main {
    .background-2 {
      .background-2-item {
        background-position: 53%;
      }
    }

    .second-page {
      padding: 0 5rem;
      align-items: center;
      justify-content: center;

      .full-description {
        display: flex;

        justify-self: center;
        margin: 0 0;
        grid-gap: 3rem;

        h1 {
          margin: 0 0;
        }
      }
    }

    .appointment-page {
      .jumbotron-services {
        display: grid;
        margin: 0 0;
        margin-top: 3rem;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5rem;

        h1 {
          margin: 0 0;
          justify-items: center;
          justify-self: center;
          padding: 0 0;
        }

        p {
          margin: 0 0rem;
          font-size: 1.75rem;
          // width: 50%;
        }
      }

      .appointment-form {
        background: linear-gradient(#191a4e 10%, #fff 100%);
        justify-content: center;
        width: 100%;
        margin: 0 0rem;
        flex-direction: column;

        .appointment-info {
          align-self: center;
          padding: 0;
          text-align: center;
          margin: 0;
          margin-top: 3rem;
        }

        .telephone {
          font-size: 1.9rem;
        }

        #form {
          width: 80%;
          // flex-grow: 2;
          margin: 0 0;
          padding: 0 0;
          flex-wrap: wrap;
          align-self: center;

          ::placeholder {
            font-size: 1.9rem;
          }

          .form-control {
            font-size: 1.9rem;
            font-family: "Exo 2", sans-serif;
          }

          select {
            font-family: "Exo 2", sans-serif;
            font-size: 1.9rem;
            letter-spacing: 0.05rem;
            font-weight: 200;
          }

          button {
            margin: 0 0;
          }
        }
      }
    }

    .location-page {
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 30rem;

      h1 {
        align-self: center;
        justify-self: center;
      }

      .location-description {
        justify-self: center;
        display: flex;
        flex-direction: column;

        img {
          align-self: center;
        }

        .contacts {
          text-align: center;
          justify-self: center;
          font-size: 1.8rem;

          .fa-map-marker-alt {
            justify-content: center;
          }

          h2 {
            font-size: 4.5rem;
          }
        }
      }

      .map {
        display: none;
      }
    }

    .site-section.site-section-secondary {
      background: linear-gradient(#efefef 70%, white 100%);

      .site-section-inside {
        .testimonial-box {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem;

          margin: 3rem 0;
          padding: 0 0;

          .testimonial-content {
            grid-column: 2;
            grid-row: 1;
            font-size: 1.8rem;
            margin: 0 0;
          }

          .testimonial-author {
            margin: 0 0;
          }
        }
      }
    }
  }

  .services-page {
    height: 100%;
  }

  #footer {
    display: none;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@include mediaML {
  html {
    font-size: 8.5px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    .background {
      // justify-content: flex-start;

      .menu-btn {}

      .navbarr {
        flex-direction: column;
        padding: 0 0;

        .logo {
          display: inline-flex;
          width: 100%;
          align-items: center;
          justify-self: center;

          &::after {
            font-size: 1.8rem;
          }
        }

        .sm-list1 {
          a {
            font-size: 3.5rem;
          }
        }

        .telephone1 {
          flex-basis: 10rem;

          a {
            font-size: 3rem;
          }
        }
      }

      .first-page {
        margin-left: 0;
        width: 100%;
        align-items: flex-start;

        .doctor-name {
          margin-top: 5rem;
        }

        h1 {
          margin-left: 5rem;
          justify-self: flex-start;
          font-size: 3rem;
        }

        p {
          font-size: 2rem;
          margin-left: 5rem;
        }

        .btn-maa {
          // height: 7.5%;
          margin-left: 5rem;
          padding: 1rem 1rem;

          a {
            display: inline-block;
            text-align: center;
          }
        }
      }

      .menu-nav {
        .menu-nav-list {
          align-items: center;
          flex-wrap: wrap;

          .menu-nav-item {
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            .menu-nav-link {
              width: 100%;
            }
          }
        }
      }
    }
  }

  main {
    .background-2 {
      .background-2-item {
        background-position: 53%;
      }
    }

    .second-page {
      padding: 0 5rem;
      align-items: center;
      justify-content: center;

      .full-description {
        display: flex;

        justify-self: center;
        margin: 0 0;
        grid-gap: 3rem;

        h1 {
          margin: 0 0;
        }
      }
    }

    .services-page {
      height: 100%;
    }

    .appointment-page {
      .jumbotron-services {
        display: grid;
        margin: 0 0;
        margin-top: 3rem;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5rem;

        h1 {
          margin: 0 0;
          justify-items: center;
          justify-self: center;
          padding: 0 0;
        }

        p {
          margin: 0 0rem;
          font-size: 1.75rem;
          // width: 50%;
        }
      }

      .appointment-form {
        background: linear-gradient(#191a4e 10%, #fff 100%);
        justify-content: center;
        width: 100%;
        margin: 0 0rem;
        flex-direction: column;

        .appointment-info {
          align-self: center;
          padding: 0;
          text-align: center;
          margin: 0;
          margin-top: 3rem;
        }

        .telephone {
          font-size: 1.9rem;
        }

        #form {
          width: 80%;
          // flex-grow: 2;
          margin: 0 0;
          padding: 0 0;
          flex-wrap: wrap;
          align-self: center;

          ::placeholder {
            font-size: 1.9rem;
          }

          .form-control {
            font-size: 1.9rem;
            font-family: "Exo 2", sans-serif;
          }

          select {
            font-family: "Exo 2", sans-serif;
            font-size: 1.9rem;
            letter-spacing: 0.05rem;
            font-weight: 200;
          }

          button {
            margin: 0 0;
          }
        }
      }
    }

    .location-page {
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 30rem;

      h1 {
        align-self: center;
        justify-self: center;
      }

      .location-description {
        justify-self: center;
        display: flex;
        flex-direction: column;

        img {
          align-self: center;
        }

        .contacts {
          text-align: center;
          justify-self: center;
          font-size: 1.8rem;

          .fa-map-marker-alt {
            justify-content: center;
          }

          h2 {
            font-size: 4.5rem;
          }
        }
      }

      .map {
        display: none;
      }
    }

    .site-section.site-section-secondary {
      background: linear-gradient(#efefef 70%, white 100%);

      .site-section-inside {
        .testimonial-box {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem;

          margin: 3rem 0;
          padding: 0 0;

          .testimonial-content {
            grid-column: 2;
            grid-row: 1;
            font-size: 1.8rem;
            margin: 0 0;
          }

          .testimonial-author {
            margin: 0 0;
          }
        }
      }
    }
  }

  #footer {
    display: none;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@include mediaS {
  html {
    font-size: 7.5px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    .background {
      // justify-content: flex-start;

      .menu-btn {}

      .navbarr {
        flex-direction: column;
        padding: 0 0;

        .logo {
          display: inline-flex;
          width: 100%;
          align-items: center;
          justify-self: center;

          &::after {
            font-size: 1.8rem;
          }
        }

        .sm-list1 {
          a {
            font-size: 3.5rem;
          }
        }

        .telephone1 {
          flex-basis: 10rem;

          a {
            font-size: 3rem;
          }
        }
      }

      .first-page {
        margin-left: 0;
        width: 100%;
        align-items: flex-start;

        .doctor-name {
          margin-top: 5rem;
        }

        h1 {
          margin-left: 5rem;
          justify-self: flex-start;
          font-size: 3rem;
        }

        p {
          font-size: 2rem;
          margin-left: 5rem;
        }

        .btn-maa {
          // height: 7.5%;
          margin-left: 5rem;
          padding: 1rem 1rem;

          a {
            display: inline-block;
            text-align: center;
          }
        }
      }

      .menu-nav {
        .menu-nav-list {
          align-items: center;
          flex-wrap: wrap;

          .menu-nav-item {
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            .menu-nav-link {
              width: 100%;
            }
          }
        }
      }
    }
  }



  main {
    .background-2 {
      .background-2-item {
        background-position: 53%;
      }
    }

    .second-page {
      padding: 0 5rem;
      align-items: center;
      justify-content: center;

      .full-description {
        display: flex;

        justify-self: center;
        margin: 0 0;
        grid-gap: 3rem;

        h1 {
          margin: 0 0;
        }
      }
    }

    .appointment-page {
      .jumbotron-services {
        display: grid;
        margin: 0 0;
        margin-top: 3rem;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5rem;
        flex-wrap: wrap;
        height: 30vh;

        h1 {
          margin: 0 0;
          justify-items: center;
          justify-self: center;
          padding: 0 0;
        }

        p {
          margin: 0 0rem;
          font-size: 1.75rem;
          // width: 50%;
        }
      }

      .appointment-form {
        background: linear-gradient(#191a4e 10%, #fff 100%);
        justify-content: center;
        width: 100%;
        margin: 0 0rem;
        flex-direction: column;

        .appointment-info {
          align-self: center;
          padding: 0;
          text-align: center;
          margin: 0;
          margin-top: 0rem;

          h1 {
            margin: 0;
          }
        }

        .telephone {
          font-size: 1.9rem;
          margin: 0;
        }

        #form {
          width: 80%;
          // flex-grow: 2;
          margin: 0 0;
          padding: 0 0;
          // flex-wrap: wrap;
          align-self: center;

          ::placeholder {
            font-size: 1.9rem;
          }

          .form-control {
            font-size: 1.9rem;
            font-family: "Exo 2", sans-serif;
          }

          select {
            font-family: "Exo 2", sans-serif;
            font-size: 1.9rem;
            letter-spacing: 0.05rem;
            font-weight: 200;
          }

          button {
            margin: 0 0;
          }
        }
      }
    }

    .location-page {
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 30rem;

      h1 {
        align-self: center;
        justify-self: center;
      }

      .location-description {
        justify-self: center;
        display: flex;
        flex-direction: column;

        img {
          align-self: center;
        }

        .contacts {
          text-align: center;
          justify-self: center;
          font-size: 1.8rem;

          .fa-map-marker-alt {
            justify-content: center;
          }

          h2 {
            font-size: 4.5rem;
          }
        }
      }

      .map {
        display: none;
      }
    }

    .site-section.site-section-secondary {
      background: linear-gradient(#efefef 70%, white 100%);

      .site-section-inside {
        .testimonial-box {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem;

          margin: 3rem 0;
          padding: 0 0;

          .testimonial-content {
            grid-column: 2;
            grid-row: 1;
            font-size: 1.8rem;
            margin: 0 0;
          }

          .testimonial-author {
            margin: 0 0;
          }
        }
      }
    }
  }

  #footer {
    display: none;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@include mediaXS {
  html {
    font-size: 6px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  .wrapper-2 {
    height: 100%;
  }

  .services-page {
    height: 100%;
    // overflow-y: hidden;
  }

  header {
    .background {
      // justify-content: flex-start;

      .menu-btn {}

      .navbarr {
        flex-direction: column;
        padding: 0 0;

        .logo {
          display: inline-block;
          width: 100%;
          align-items: center;
          justify-self: center;

          &::after {
            font-size: 1.8rem;
          }
        }

        .sm-list1 {
          a {
            font-size: 3.5rem;
          }
        }

        .telephone1 {
          flex-basis: 10rem;

          a {
            font-size: 3rem;
          }
        }
      }

      .first-page {
        margin-left: 0;
        width: 100%;
        align-items: flex-start;

        .doctor-name {
          margin-top: 5rem;
        }

        h1 {
          margin-left: 5rem;
          justify-self: flex-start;
          font-size: 3rem;
        }

        p {
          font-size: 2rem;
          margin-left: 5rem;
        }

        .btn-maa {
          // height: 7.5%;
          margin-left: 5rem;
          padding: 1rem 1rem;

          a {
            display: inline-block;
            text-align: center;
          }
        }
      }

      .menu-nav {
        .menu-nav-list {
          align-items: center;
          flex-wrap: wrap;

          .menu-nav-item {
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            .menu-nav-link {
              width: 100%;
            }
          }
        }
      }
    }
  }

  main {
    .background-2 {
      .background-2-item {
        background-position: 53%;
      }
    }

    .second-page {
      padding: 0 5rem;
      align-items: center;


    }

    .full-description {
      // align-items: center;
      display: inline-block;

      h1 {
        margin: 0 0 !important;
        padding-bottom: 3rem !important;
      }
    }

    .wrapper-services {
      overflow-y: hidden;
      overflow-x: hidden;
      height: 105vh;
    }


    .appointment-page {
      .jumbotron-services {
        margin: 0 0;
        margin-top: 3rem;

        h1 {
          margin: 0 0;
        }

        p {
          margin: 0 3rem;
          font-size: 1.7rem;
        }
      }

      .appointment-form {
        background: linear-gradient(#191a4e 10%, #fff 100%);
        justify-content: center;
        width: 100%;
        margin: 0 0rem;
        flex-direction: column;

        .appointment-info {
          align-self: center;
          padding: 0;
          text-align: center;
          margin: 0;
          margin-top: 3rem;
        }

        .telephone {
          font-size: 1.9rem;
        }

        #form {
          width: 80%;
          // flex-grow: 2;
          margin: 0 0;
          padding: 0 0;
          flex-wrap: wrap;
          align-self: center;

          ::placeholder {
            font-size: 1.9rem;
          }

          .form-control {
            font-size: 1.9rem;
            font-family: "Exo 2", sans-serif;
          }

          select {
            font-family: "Exo 2", sans-serif;
            font-size: 1.9rem;
            letter-spacing: 0.05rem;
            font-weight: 200;
          }

          button {
            margin: 0 0;
          }
        }
      }
    }

    .location-page {
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 30rem;

      h1 {
        align-self: center;
      }

      .location-description {
        justify-self: center;
        display: flex;
        flex-direction: column;

        img {
          align-self: center;
        }

        .contacts {
          text-align: center;
          font-size: 1.8rem;

          h2 {
            font-size: 4.5rem;
          }
        }
      }

      .map {
        display: none;
      }
    }

    .site-section.site-section-secondary {
      background: linear-gradient(#efefef 70%, white 100%);

      .site-section-inside {
        .testimonial-box {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem;

          margin: 3rem 0;
          padding: 0 0;

          .testimonial-content {
            grid-column: 2;
            grid-row: 1;
            font-size: 1.8rem;
            margin: 0 0;
          }

          .testimonial-author {
            margin: 0 0;
          }
        }
      }
    }
  }

  #footer {
    display: none;
  }
}